<a href="https://colab.research.google.com/github/omisa69/Data-Analysis-and-Visualization/blob/master/exercise3_Solved.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sequences

Sequences is a group of data types that stores zero or more values in order, in a sequence. We have seen three examples of sequences, strings, lists and tuples. In this exercise we will use functions that are common to the different data types. We will eventually see a very important property, common to all sequences: They are all *iterable*.

## Strings

We have use strings but so far only as constant values. We have seen how strings can be created using literals, formated literals (f-strings) or read from the user.

In the following example, `question`, `item` and `reply` are three variables containing strings.

In [1]:
question = 'What would you like to order? '
item = input(question)
reply = f'We are unfortunately out of {item}. It is out of stock at the supplier!'
print(reply)

What would you like to order? Pizza
We are unfortunately out of Pizza. It is out of stock at the supplier!

### Indexing and Slicing

Use indexing and slicing to complete the following code.

In [2]:
word = input('Write a word: ')
first = word[0]         # first character of the string
fourth = word[3]        # fourth character of the string
last = word[-1]          # last character: remember that we do not know the length of the string!
reverse = word[::-1]       # use slicing to reverse the string
print(f'The word starts with {first} and ends with {last}.')
print(f'The fourth character is {fourth}.')
print(f'The reverse is {reverse}.')

Write a word: sword
The word starts with s and ends with d.
The fourth character is r.
The reverse is drows.

### Membership Operator

Use the membership operator to complete the following code so that the text `There is no x in the word` is printed if the user gives a word with no x.

In [6]:
word = input('Write a word that contains the letter x: ')
# if the letter x is not in the word
if "x" not in word:
  # print the error message
  print('There is no x in the word')

Write a word that contains the letter x: Luis
There is no x in the word

### Iteration

Strings are iterable, meaning that we can use a for statement to access the characters of the string.

The following example prints a string with dots between the characters.

In [7]:
long_word = 'högskoleingenjörsutbildning'  # college engineering education
for letter in long_word:
  print(letter, end='.')
print()

h.ö.g.s.k.o.l.e.i.n.g.e.n.j.ö.r.s.u.t.b.i.l.d.n.i.n.g.

We can also use the same construct as before with for and range.

Complete the following example so that it does the same thing as the code above. Use indexing and the function that returns the number of characters in the string.

In [8]:
long_word = 'högskoleingenjörsutbildning'  # college engineering education
for i in range(len(long_word)):   # how many letters does long_word have?
  # print the character at position i in long_word, end with a dot
  print(long_word[i], end='.')
print()

h.ö.g.s.k.o.l.e.i.n.g.e.n.j.ö.r.s.u.t.b.i.l.d.n.i.n.g.

### Immutable

So far, we have iterated over strings to print their characters, one at a time. We would now like to write code that modifies the string. The following is an unsuccessful attempt to make the vowels of the string to uppercase and the consonants lowercase.

Run the code to see what happens. Why does the code fail to change the string?

In [15]:
word = input('Write a word: ')
for letter in word:
  if letter in 'aeiouy':
    letter = letter.upper()
  else:
    letter = letter.lower()
print(word)

Write a word: sWord
sWord

*Because the variable `letter` only refers to a copy of each one of the characters in the string. When we change its value it doesn't affect the string, only the local copy of the current character. Rather than trying to modify a string, we will create a new string.*

In [16]:
word = input('Write a word: ')
for index, letter in enumerate(word):
  if letter in 'aeiouy':
    word = word[:index] + letter.upper() + word[index+1:]
  else:
    word = word[:index] + letter.lower() + word[index+1:]
print(word)

Write a word: Sword
swOrd

Strings are immutable, meaning that they cannot change. It turns out that the variable `letter` only refers to a copy of each one of the characters in the string. When we change its value it has no effect on the string, only the local copy of the current character. Rather than trying to modify a string, we will create a new string.

Modify the code from the example above so that the vowels of the string are added as uppercase letters to the new string and the consonants of the string are added as lowercase letters.

In [4]:
word = input('Write a word: ')
new_word = ""                    # add: create a new (empty) string
for letter in word:
  if letter in 'AaEeIiOoUuYy':
    new_word += letter.upper()      # change: add to the new string
  else:
    new_word += letter.lower()      # change: add to the new string
print(new_word)                      # change: print the new string

Write a word: DEfence
dEfEncE

But if we cannot change strings, how could we add letters to the new string? In fact, we never add anything to an existing string. A new string is created every time we add something!

## Lists and Tuples

Whereas strings are sequences of characters, lists and tuples can contain data of different types. Both lists and tuples can even contain data of different types *in the same object*.

In [5]:
names = ['Alice', 'Beatrice', 'Cassandra', 'Diana']
prices = (12.5, 10, 15.75, 21)
my_car = ('Honda', 'gas', 2019)

Everything that we have done so far with strings can also be done with lists and tuples. We will therefore focus on functions that are specific to lists and tuples. The difference between lists and tuples is that lists are mutable and tuples are immutable.

Complete the following code by calling the appropriate functions and operators.

In [6]:
lst = [41, 39, 26, 32, 40, 46, 51, 37]
first = lst[0]            # the first element in the list
last =  lst[-1]           # the last element in the list
smallest = min(lst)       # the smallest element in the list
largest = max(lst)        # the largest element in the list
the_sum = sum(lst)        # the sum of the elements in the list
number = len(lst)         # the number of elements in the list
print(first, last, smallest, largest, the_sum, number)

41 37 26 51 312 8

Now change the list to a tuple and verify that the functions and operators work with lists as well as tuples.

### Iteration

Just like for a string, there are two methods for iterating over lists and tuples.

Complete the following code so that all the positive elements in the list are printed.

In [11]:
lst = [3, 0, -2, 1, 1, -1, -2, 3, 2, 3, 0]
for item in lst:
    if item > 0:               # if the element is positive:
        print(item, end='')    # print item, end with space
print()

311323

As we have seen with strings, the method above can be used to iterate through a sequence without changing its elements. It works for strings, lists and tuples and is the preferred method *when we can use it*.

### Mutable

Lists are mutable but tuples are not, so this section is only about lists. In order to modify the elements of a list while iterating over it, we need to use the other method of iteration and refer to the elements using indexing.

Complete the following code so that it sets all negative elements in the list to zero.

In [13]:
lst = [3, 0, -2, 1, 1, -1, -2, 3, 2, 3, 0]
for index, item in enumerate(lst):
  if item < 0:        # if the current element is negative:
    lst[index] = 0    # set the element to 0
print(lst)

[3, 0, 0, 1, 1, 0, 0, 3, 2, 3, 0]

When iterating over the indices of the list, we have direct access to the individual elements and can do what we like with them. However, removing elements during an iteration should always be avoided as this can cause problems in the end of the list, when the number of elements is less than it was when the iteration started.

### List Comprehension

A convenient way to create new lists based on existing lists (or sequences) is to use list comprehension.

The following example creates a new list containing the same values as the original list but rounded to the nearest integer.

In [14]:
exact_values = [14.32, 13.5, 15.11, 14.89, 15.7, 13.1]
approximate_values = [round(x) for x in exact_values]
print(approximate_values)

[14, 14, 15, 15, 16, 13]

We can use list comprehension to convert strings to numerical values, for example when reading data from the user.

In the following example, we use the string function `split()` to split a string into a list of strings. Inspired by the example above, complete the code below so that each string is converted to `float`.

In [16]:
measurements = input('Measurements: ')
lst_data = measurements.split()       # split is called on the list measurements
data = [float(x) for x in lst_data] # use list comprehension
the_sum = sum(data)
print(f'The sum of the measured values is {the_sum: .2f}')

Measurements: 1.2 2.1 3.5 1.7 2.4
The sum of the measured values is  10.90

### Nested Lists

A list can contain values of any type, for example lists. Such a construct is called a nested list. Tuples can also be nested but they need to be created all at once, since the content of a tuple cannot change. For this reason, we will here focus on nested lists.

We will start by creating a nested list using a literal and print it in a nested for statement.

In [21]:
matrix = [[1, 2, 3, 4, 5], [2, 4, 6, 8, 10], [3, 6, 9, 12, 15]]
for i in range(len(matrix)):            # iterate over each row (a list in the list)
  for j in range(len(matrix[i])):       # iterate over each column (an element in the inner lists)
    print(f'{matrix[i][j]:5}', end='')  # reserve four characters, end with no space or newline
  print()                               # end the current row

    1    2    3    4    5
    2    4    6    8   10
    3    6    9   12   15

The list above displays a clear pattern (think multiplication table) and can be created using nested if statements.

Complete the following code so that it creates the same nested list as above. Feel fre to re-use the code from before to print the result.

In [24]:
matrix = []                 # start with creating an empty list


for i in range(1, 4):       # let i take the values 1, 2, 3
  matrix.append([])         # add a new row (a new empty list in the list)
  for j in range(1, 6):     # let j take the values 1, 2, 3, 4, 5
    matrix[-1].append(i*j)  # add to the end of the (so far) last row: WHAT?


for i in range(len(matrix)):            # iterate over each row (a list in the list)
  for j in range(len(matrix[i])):       # iterate over each column (an element in the inner lists)
    print(f'{matrix[i][j]:5}', end='')  # reserve four characters, end with no space or newline
  print()

    1    2    3    4    5
    2    4    6    8   10
    3    6    9   12   15

Another way to create nested lists is through list comprehension.

Complete the following code with a nested for statement that prints the table on a nice format.

In [26]:
table = [[str(n) + c for c in 'abcde'] for n in range(1, 4)]
table

[['1a', '1b', '1c', '1d', '1e'],
 ['2a', '2b', '2c', '2d', '2e'],
 ['3a', '3b', '3c', '3d', '3e']]

Starting from the example above, write code that creates and prints the following table:
```
1a 2a 3a
1b 2b 3b
1c 2c 3c
1d 2d 3d
```

In [36]:
for col in range(4):         #four first columns
  for row in table:
    print(row[col], end=' ')
  print()

1a 2a 3a
1b 2b 3b
1c 2c 3c
1d 2d 3d

In [35]:
table = [[str(n) + c for c in 'abcde'] for n in range(1, 4)]

## Exercises
Solve the following exercises on your own:

* In 1898, the Swedish language was reformed by replacing the letter q against the letter k and the letter w against the letter v. Read a word from the user and create a string where the old spelling has been replaced with the new one.

In [43]:
user_word = input('Give a word with old spelling: ')  # qvinna
new_spelling = user_word.replace('q', 'k').replace('w', 'v')
# Write your code here

print(new_spelling)                                   # kvinna

Give a word with old spelling: qväll
kväll

* Multiply all the numbers in a tuple and print the result.

In [45]:
data = (3, 1, 4, 3, 2, 2, 1)

# Write your code here

res = 1

for i in data:
  res *= i

print(res)      # 3 * 1 * 4 * 3 * 2 * 2 * 1 = 144

144

* Read numbers from the user and create a list of all the non-negative numbers given.

In [55]:
user_data = input('Give some values: ') # 7 3 -5 0 2 -1 8 -3

# Write your code here

numbers = [int(x) for x in user_data.split()]
positiva = filter(lambda x: x >= 0, numbers)
print(list(positiva))                    # [7, 3, 0, 2, 8]

Give some values: 7 3 -5 0 2 -1 8 -3
[7, 3, 0, 2, 8]

* Sum the numbers on each row in the table, represented by a nested list. Create a list of the sums for each one of the rows.

In [56]:
tabell = [[3, 5, 2], [1, 1, 1], [2, 1, 4], [2, 3, 4]]   # 4 rows, 3 columns

# Write your code here

row_sums = [sum(row) for row in tabell]

print(row_sums)                                         # [10, 3, 7, 9]

[10, 3, 7, 9]